*{
    padding: 0%;
    margin: 0%;
}
.header{
display: flex;
background-color: rgb(25 41 72 / var(--tw-bg-opacity, 1));
justify-content: space-between;
padding: 10px;

}
.logo img{
/* width: 400px; */
height: 68px;
margin-left: 80px;
}
.nav-bar{
display: flex;
gap: 30px;
font-size: 16px;
margin-right: 200px;
align-items: center;
}
.nav-bar a{
text-decoration: none;
color: white;

}
.nav-bar a:hover{
   opacity: 0.75;
}